/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --montserrat-font-family: Montserrat-SemiBold, sans-serif;
  --montserrat-font-size: 12px;
  --montserrat-line-height: normal;
  --montserrat-font-weight: 600;
  --montserrat-font-style: normal;

  /* Effects */
}
