<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H(T)ML Website</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/vars.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>

    <!-- Header Section -->
    <%- include('../partials/navbar', { activeIdx: 0 }) %>
    <!-- Main Content Section -->
    <main class="main-content">
        <div class="login-container">
            <img src="/unknown-example0.png" alt="Banner Image" class="login-banner">
            <div class="login-form">
                <h2>Đăng Nhập</h2>
                <form action="/login" method="POST">
                    <div class="input-group">
                        <input type="text" name="email" placeholder="Tên Người Dùng/Email" required>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" placeholder="Mật Khẩu" required>
                        <img src="/visibility-off0.svg" alt="Toggle Visibility" class="visibility-icon">
                    </div>
                    <a href="/resetpassword" class="forgot-password">Quên Mật Khẩu?</a>
                    <button type="submit" class="login-button">Đăng Nhập</button> <!-- Add type for button -->
                </form>
                <p>Chưa Có Tài Khoản? <a href="/register">Đăng Ký Ngay!</a></p>
                <p class="terms">
                    Bằng Việc Nhấn “Đăng Ký”, Bạn Đồng Ý Với 
                    <a href="#">Điều Khoản & Điều Kiện</a> Và 
                    <a href="#">Chính Sách Quyền Riêng Tư</a> Của Chúng Tôi.
                </p>
            </div>
        </div>
    </main>

    <!-- Footer Section -->
    <%- include('../partials/footer', { activeIdx: 0 }) %>

</body>
</html>
