<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H(T)ML Website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/vars.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="../partials/message.js"></script>
</head>
<body>
    <!-- Header Section -->
    <%- include('../partials/navbar', { activeIdx: 0 }) %>

    <% if (message != null ) { %> <script> alert('<%= message %>'); </script> <% } %>
    <!-- Main Content Section -->
    <main class="main-content">
        <div class="login-container">
            <img src="/images/unknown-example0.png" alt="Banner Image" class="login-banner">
            <div class="login-form">
                <h2>Đăng Ký</h2>
                <form action="/register" method="POST"> <!-- Change action to /register -->
                    <div class="input-group">
                        <input type="text" name="name" placeholder="Tên Người Dùng" required> <!-- Username field -->
                    </div>
                    <div class="input-group">
                        <input type="email" name="email" placeholder="Email" required> <!-- Email field -->
                        <small id="email-error" style="color: red;"></small>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" placeholder="Mật Khẩu" required>
                        <img src="/images/visibility-off0.svg" alt="Toggle Visibility" class="visibility-icon">
                    </div>
                    <div class="input-group">
                        <input type="text" name="phone" placeholder="Số Điện Thoại" required> <!-- Phone number field -->
                    </div>
                    <input type="hidden" name="role" value="customer">
                    <button type="submit" class="login-button">Đăng Ký</button> 
                    
                </form>
                <p>Đã Có Tài Khoản? <a href="/login">Đăng Nhập Ngay!</a></p> <!-- Update link to login -->
                <p class="terms">
                    Bằng Việc Nhấn “Đăng Ký”, Bạn Đồng Ý Với 
                    <a href="#">Điều Khoản & Điều Kiện</a> Và 
                    <a href="#">Chính Sách Quyền Riêng Tư</a> Của Chúng Tôi.
                </p>
            </div>
        </div>
    </main>

    <!-- Footer Section -->
    <%- include('../partials/footer', { activeIdx: 0 }) %>
</body>
</html>
