<!-- Header Section -->
<header class="header">
    <div class="brand-logo">
        <img src="/images/logo-icon0.svg" alt="H(T)ML Logo">
        <span class="brand-name">H(T)ML</span>
    </div>

    <!-- Shirt Navbar Container -->
    <div class="shirtNavbar">
        <div class="shirtDropdown">
                <button class="dropdownButton">Áo
                    <i class="fa fa-caret-down"></i>
                </button>
            <div class="shirtDropdownContent">
                <div class="shirtRow">
                    <div class="shirtColumn">
                        <h3>Áo Thun</h3>
                        <a href="#">Áo Polo</a>
                        <a href="#">Áo Len</a>
                        <a href="#">Áo Ba Lỗ</a>
                        <a href="#">Áo Tay Ngắn</a>
                        <a href="#">Áo Tay Dài</a>
                        <a href="#">Áo Oversized</a>
                        <a href="#">Áo Boxy</a>
                        <a href="#">Xem Thêm</a>
                    </div>
                    <div class="shirtColumn">
                        <h3>Áo Khoác</h3>
                        <a href="#">Jacket</a>
                        <a href="#">Varsity</a>
                        <a href="#">Sơ Mi</a>
                        <a href="#">Blazer</a>
                        <a href="#">Khoác Da</a>
                        <a href="#">Kaki</a>
                        <a href="#">Hoodie</a>
                        <a href="#">Xem Thêm</a>
                    </div>
                    <div class="shirtColumn">
                        <div class="shirtProductImages">
                            <div class="shirtProductItem">
                                <img src="/images/Polo-Shirt-Menu.png" alt="Polo Shirt">
                                <p>Polo</p>
                            </div>
                            <div class="shirtProductItem">
                                <img src="/images/Thun-Shirt-Menu.png" alt="T-Shirt">
                                <p>Thun</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Pants Navbar Container -->
    <div class="pantsNavbar">
        <div class="pantsDropdown">
            <button class="dropdownButton">Quần
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="pantsDropdownContent">
                <div class="pantsRow">
                    <!-- Pants Types -->
                    <div class="pantsColumn">
                        <h3>Quần</h3>
                        <a href="#">Quần Jeans</a>
                        <a href="#">Quần Jogger</a>
                        <a href="#">Quần Kaki</a>
                        <a href="#">Quần Short</a>
                        <a href="#">Quần Tây</a>
                        <a href="#">Quần Đùi</a>
                        <a href="#">Xem Thêm</a>
                    </div>
                    <!-- Product Images -->
                    <div class="pantsColumn">
                        <div class="pantsProductImages">
                            <div class="pantsProductItem">
                                <img src="/images/Jeans-Pants-Menu.png" alt="Jeans">
                                <p>Jeans</p>
                            </div>
                            <div class="pantsProductItem">
                                <img src="/images/Jogger-Pants-Menu.png" alt="Jogger">
                                <p>Jogger</p>
                            </div>
                            <div class="pantsProductItem">
                                <img src="/images/Shorts-Pants-Menu.png" alt="Short">
                                <p>Short</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <!-- Shoes Navbar Container -->
    <div class="shoesNavbar">
        <div class="shoesDropdown">
            <button class="dropdownButton">Giày Dép
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="shoesDropdownContent">
                <div class="shoesRow">
                    <div class="shoesColumn">
                        <h3>Giày</h3>
                        <a href="#">Chelsea Boots</a>
                        <a href="#">Derby</a>
                        <a href="#">Slip On Jeans</a>
                        <a href="#">Giày Thể Thao</a>
                        <a href="#">Giày Lười</a>
                        <a href="#">Xem Thêm</a>
                    </div>
                    <div class="shoesColumn">
                        <h3>Dép</h3>
                        <a href="#">Dép Da</a>
                        <a href="#">Dép Sandal</a>
                        <a href="#">Dép Lào</a>
                        <a href="#">Dép Quai Chéo</a>
                        <a href="#">Dép Xỏ Ngón</a>
                        <a href="#">Xem Thêm</a>
                    </div>
                    <div class="shoesColumn">
                        <div class="shoesProductImages">
                            <div class="shoesProductItem">
                                <img src="/images/Sandal-Shoes-Menu.png" alt="Sandal">
                                <p>Sandal</p>
                            </div>
                            <div class="shoesProductItem">
                                <img src="/images/Derby-Shoes-Menu.png" alt="Derby">
                                <p>Derby</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Accessories Navbar Container -->
    <div class="accessoriesNavbar">
        <div class="accessoriesDropdown">
            <button class="dropdownButton">Phụ Kiện
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="accessoriesDropdownContent">
                <div class="accessoriesRow">
                    <div class="accessoriesColumn">
                        <h3>Tất</h3>
                        <a href="#">Tất Cổ Dài</a>
                        <a href="#">Tất Cổ Ngắn</a>
                        <a href="#">Tất Dài Sọc</a>
                        <a href="#">Tất Dài Trơn</a>
                        <a href="#">Tất Lưới</a>
                        <a href="#">Xem Thêm</a>
                    </div>
                    <div class="accessoriesColumn">
                        <h3>Thắt Lưng</h3>
                        <a href="#">Đầu Kim</a>
                        <a href="#">Khóa Tự Động</a>
                        <a href="#">Xem Thêm</a>
                    </div>
                    <div class="accessoriesColumn">
                        <h3>Ví</h3>
                        <a href="#">Khóa Cá Sấu</a>
                        <a href="#">Khóa Trơn</a>
                        <a href="#">Dáng Dọc</a>
                        <a href="#">Dáng Ngang</a>
                        <a href="#">Xem Thêm</a>
                    </div>
                    <div class="accessoriesColumn">
                        <div class="accessoriesProductImages">
                            <div class="accessoriesProductItem">
                                <img src="/images/Wallet-Accessories-Menu.png" alt="Ví Có Khóa Cá Sấu">
                                <p>Ví Có Khóa Cá Sấu</p>
                            </div>
                            <div class="accessoriesProductItem">
                                <img src="/images/Socks-Accessories-Menu.png" alt="Tất Cổ Dài">
                                <p>Tất Cổ Dài</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-icons">
        <img src="/images/search0.svg" alt="Search">
        <img src="/images/person-icon.svg" alt="User">
        <img src="/images/shopping-bag0.svg" alt="Shopping Bag">
    </div>
</header>